.registerbackground {
    background-color: #383838;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.background {
    background-color: #383838;
}